.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}


.logo {
    height: 50px;
    width: 200px;
    object-fit: cover;
}
